<a href="https://colab.research.google.com/github/Lairai7/Coursera_Capstone/blob/master/Data_science_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction**

Your Fairytale Wedding' is a company based in Toronto which plans larger-than-life, dream weddings for people. The wedding day is a magical one for any couple, signifying new beginnings of a beautiful future together and 'Your Fairytale Wedding' strives to make it as memorable as possible. To achieve this important task, it is required to provide its staff an exhaustive list of all the different places in a given vicinity that come into picture while organizing a wedding so that they can then proceed further, personalizing the wedding experience according to the needs and wants of their clients.

**Data Description**

I shall be using my Foursquare Developer credentials to access Foursquare location data for this Capstone project. As we discussed in the ‘Introduction’ section, ‘Your Fairytale Wedding’ has to furnish its staff with all the details of places relevant to planning a wedding. Also, since ‘Your Fairytale Wedding’ believes in innovation and doing things differently, they provide their clients with the option to choose the menu for their wedding buffet from their favorite restaurants, rather than sticking to the cookie-cutter approach of a single catering service. Thus, coming back to our discussion of incorporating Foursquare API in this project, our search queries will include Bakery, bridal shops, gift shops,cosmetics and clothing stores, restaurants,hotels, banquet halls or event spaces and churches. Data wrangling or preprocessing will then be performed on these datasets followed by clustering as well as a map representation using Folium library.

**Importing the necessary libraries**

In [2]:
import requests # to handle requests
import pandas as pd # for data analsysis
import numpy as np # to handle data in a vectorized manner

#!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
#tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library for map representation
print("Libraries imported!")

Libraries imported!

**Defining Foursquare credentials**

In [3]:
ClIENT_ID = 'PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ' # your Foursquare ID
ClIENT_SECRET = 'L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2' # your Foursquare Secret
VERSION = '20180604'
LIMIT =30
print('Your credentials:')
print('Foursquare_ID: ' + ClIENT_ID)
print('Foursquare_Secret:' + ClIENT_SECRET)

Your credentials:
Foursquare_ID: PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ
Foursquare_Secret:L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2

**Selecting the city and getting its coordinates**

In [4]:
#selecting the city and getting its latitude and longitude

city = 'Toronto'
geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(city)
latitude = location.latitude
longitude = location.longitude
print(latitude, longitude)

43.653963 -79.387207

**Hotels and Event Spaces- time for a grand celebration!**

In [5]:
# search for hotels
search_query = 'Hotel'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ&client_secret=L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2&ll=43.653963,-79.387207&v=20180604&query=Hotel&radius=500&limit=30'

In [0]:
# Sending the GET Request and examining the results
results = requests.get(url).json()

In [7]:
# assigning relevant part of JSON to venues
venues = results['response']['venues']

# tranforming venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

                         id  ... location.neighborhood
0  4ab2d511f964a5209b6c20e3  ...                   NaN
1  4b68aed1f964a520de862be3  ...                   NaN
2  4f343a31e4b0230a3b337a90  ...                   NaN
3  5d59d01867339e000897bc88  ...                   NaN
4  4f53fb2ee4b036244bea152f  ...                   NaN

[5 rows x 19 columns]

**Data wrangling**

In [8]:
# keep columns including venue name, and those associated with location only
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_dataframe = dataframe.loc[:,clean_columns]

# function to extract the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_dataframe['categories'] = clean_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_dataframe.columns = [column.split('.')[-1] for column in clean_dataframe.columns]

clean_dataframe.head()

                                name  ...                        id
0      Sheraton Centre Toronto Hotel  ...  4ab2d511f964a5209b6c20e3
1     The Rex Hotel Jazz & Blues Bar  ...  4b68aed1f964a520de862be3
2                     VFM Test Hotel  ...  4f343a31e4b0230a3b337a90
3  Sheraton Centre Hotel Club Lounge  ...  5d59d01867339e000897bc88
4                    Stathcona Hotel  ...  4f53fb2ee4b036244bea152f

[5 rows x 16 columns]

In [14]:
# drop unnecessary columns
clean_dataframe2= clean_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs','neighborhood','id'], axis=1)
clean_dataframe2

                                              name  ...    state
0                    Sheraton Centre Toronto Hotel  ...       ON
1                   The Rex Hotel Jazz & Blues Bar  ...       ON
2                                   VFM Test Hotel  ...       ON
3                Sheraton Centre Hotel Club Lounge  ...       ON
4                                  Stathcona Hotel  ...       ON
5   Sheraton Centre Toronto Hotel - Grand Ballroom  ...       ON
6                                Be SixFifty Hotel  ...       ON
7                                        650 Hotel  ...       ON
8                             DoubleTree by Hilton  ...       ON
9                               Shangri-La Toronto  ...       ON
10                                          Hilton  ...       ON
11    Marriott Downtown at CF Toronto Eaton Centre  ...       ON
12                           89 Chestnut Residence  ...       ON
13                   Op mijn hotelkamer In Toronto  ...       ON
14                                  Fitness Centre  ...       ON
15          Lobby Lounge at the Shangri-La Toronto  ...       ON
16                                  Fitness Centre  ...       ON
17                                            Pool  ...  Ontario
18                                   Bistro on Two  ...       ON
19                                   Kumar For Men  ...       ON
20                                  Grand Ballroom  ...       ON

[21 rows x 7 columns]

In [15]:
# drop rows with none values
clean_dataframe3 = clean_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_dataframe3

                                            name  ... state
0                  Sheraton Centre Toronto Hotel  ...    ON
1                 The Rex Hotel Jazz & Blues Bar  ...    ON
2                                 VFM Test Hotel  ...    ON
8                           DoubleTree by Hilton  ...    ON
9                             Shangri-La Toronto  ...    ON
10                                        Hilton  ...    ON
11  Marriott Downtown at CF Toronto Eaton Centre  ...    ON
12                         89 Chestnut Residence  ...    ON
14                                Fitness Centre  ...    ON
15        Lobby Lounge at the Shangri-La Toronto  ...    ON
16                                Fitness Centre  ...    ON
18                                 Bistro on Two  ...    ON
19                                 Kumar For Men  ...    ON
20                                Grand Ballroom  ...    ON

[14 rows x 7 columns]

In [16]:
# keep only those rows with the relevant categories-'Hotel' and 'Event space'
array= ['Hotel', 'Event Space']
hotel_dataframe= clean_dataframe3.loc[clean_dataframe3['categories'].isin(array)]
hotel_dataframe

                                            name   categories  ... postalCode  state
0                  Sheraton Centre Toronto Hotel        Hotel  ...    M5H 2M9     ON
2                                 VFM Test Hotel        Hotel  ...    M2M 2M2     ON
8                           DoubleTree by Hilton        Hotel  ...    M5G 1R3     ON
9                             Shangri-La Toronto        Hotel  ...    M5H 0A3     ON
10                                        Hilton        Hotel  ...    M5H 2L2     ON
11  Marriott Downtown at CF Toronto Eaton Centre        Hotel  ...    M5G 2L2     ON
20                                Grand Ballroom  Event Space  ...    M5H 2M9     ON

[7 rows x 7 columns]

**Bridal shops, gifts and cosmetics, clothing stores- Let's pamper the bride!**

In [18]:
# search for Bridal shops
search_query = 'Bridal shop'
radius = 10000

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ&client_secret=L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2&ll=43.653963,-79.387207&v=20180604&query=Bridal shop&radius=10000&limit=30'

In [0]:
# Sending the GET Request and examining the results
results2 = requests.get(url).json()

In [20]:
# assigning relevant part of JSON to venues
venues = results2['response']['venues']

# tranform venues into a dataframe
bridalshop_dataframe = json_normalize(venues)
bridalshop_dataframe.head()

                         id  ... location.neighborhood
0  4e420754aeb79367c7e3be1e  ...                   NaN
1  4b6dbabef964a5204d8a2ce3  ...                   NaN
2  4d13cab06d103704a15d1bbd  ...                   NaN
3  5c2346cb029a55002c80c510  ...                   NaN
4  59e636b7840fc2686ffb51f1  ...                   NaN

[5 rows x 19 columns]

**Data wrangling-cleaning bridal shop dataframe**

In [21]:
#Cleaning bridal shop dataframe
#keep only columns that include venue name, and anything that is associated with location
bridalshop_clean_columns = ['name', 'categories'] + [col for col in bridalshop_dataframe.columns if col.startswith('location.')]+ ['id']
clean_bridalshop_dataframe = bridalshop_dataframe.loc[:,bridalshop_clean_columns]

# function to extract the category of the venue
def get_category_type(row):
    try:
        categories_list1 = row['categories']
    except:
        categories_list1 = row['venue.categories']
        
    if len(categories_list1) == 0:
        return None
    else:
        return categories_list1[0]['name']

# filter the category for each row
clean_bridalshop_dataframe['categories'] = clean_bridalshop_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_bridalshop_dataframe.columns = [column.split('.')[-1] for column in clean_bridalshop_dataframe.columns]

clean_bridalshop_dataframe.head()

                         name  ...                        id
0  Queens Bridal Shop Toronto  ...  4e420754aeb79367c7e3be1e
1       Bridal Fashion Fraire  ...  4b6dbabef964a5204d8a2ce3
2                   Gift Shop  ...  4d13cab06d103704a15d1bbd
3                     F5 Shop  ...  5c2346cb029a55002c80c510
4                Square Shop!  ...  59e636b7840fc2686ffb51f1

[5 rows x 16 columns]

In [22]:
# drop unnecessary columns
clean_bridalshop_dataframe2= clean_bridalshop_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',\
                                        'labeledLatLngs', 'id','neighborhood','postalCode'], axis=1)
clean_bridalshop_dataframe2

                                         name  ...                                   address
0                  Queens Bridal Shop Toronto  ...                                       NaN
1                       Bridal Fashion Fraire  ...                          123 Spadina Ave.
2                                   Gift Shop  ...                       317 Dundas Street W
3                                     F5 Shop  ...                          1559 Bayview Ave
4                                Square Shop!  ...                     202 Queen Street West
5   Friendly Stranger - Cannabis Culture Shop  ...                           241 Queen St. W
6                        The Hippie Grow Shop  ...            1370 Don Mills Road, 3rd Floor
7                                  Sushi Shop  ...  76 Grenville St,Woman's College Hospital
8                          Jays Shop at Sears  ...                             290 Yonge St.
9                               The Body Shop  ...                            393 Queen St W
10         BRIKA Popup Shop at The Hudson Bay  ...                                       NaN
11                              The Body Shop  ...                  200 Bay Street, Unit 103
12                Page & Panel: The TCAF Shop  ...                             789 Yonge St.
13                    Park Hyatt Bridal Suite  ...                               4 Avenue Rd
14                                  Gift Shop  ...                               Holiday Inn
15                                 Sushi Shop  ...               65 Front St W,Union Station
16                               Tea Shop 168  ...                            316 College St
17                            The barber shop  ...                            600 Bay Street
18        Super Jet International Coffee Shop  ...                           267 College St.
19                             T.O. Tuck Shop  ...                        3 Navy Wharf Court
20                  Metro Gift and Smoke Shop  ...                         10 Adelaide St. W
21                          Ocad Plastic Shop  ...                                       NaN
22                            Ocad Metal Shop  ...                                       NaN
23        StyleDemocracy Designer Pop-Up Shop  ...                             580 King St W
24                             5 Fifty 5 Shop  ...                        555 University Ave
25          Jays Shop at Toronto Eaton Centre  ...                          220 Yonge Street
26                                ZayZay Shop  ...                       141 Ranleigh Ave #B
27                        Specialty Food Shop  ...                        555 University Ave
28                            Future Shop ASW  ...                            123 Queen St W
29                     Terminal Barber Shop 2  ...                           150 Dundas St W

[30 rows x 6 columns]

In [23]:
# drop rows with none values
clean_bridalshop_dataframe3 = clean_bridalshop_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_bridalshop_dataframe3

                                         name  ...                                   address
1                       Bridal Fashion Fraire  ...                          123 Spadina Ave.
2                                   Gift Shop  ...                       317 Dundas Street W
3                                     F5 Shop  ...                          1559 Bayview Ave
4                                Square Shop!  ...                     202 Queen Street West
5   Friendly Stranger - Cannabis Culture Shop  ...                           241 Queen St. W
6                        The Hippie Grow Shop  ...            1370 Don Mills Road, 3rd Floor
7                                  Sushi Shop  ...  76 Grenville St,Woman's College Hospital
8                          Jays Shop at Sears  ...                             290 Yonge St.
9                               The Body Shop  ...                            393 Queen St W
11                              The Body Shop  ...                  200 Bay Street, Unit 103
12                Page & Panel: The TCAF Shop  ...                             789 Yonge St.
13                    Park Hyatt Bridal Suite  ...                               4 Avenue Rd
14                                  Gift Shop  ...                               Holiday Inn
15                                 Sushi Shop  ...               65 Front St W,Union Station
16                               Tea Shop 168  ...                            316 College St
18        Super Jet International Coffee Shop  ...                           267 College St.
19                             T.O. Tuck Shop  ...                        3 Navy Wharf Court
20                  Metro Gift and Smoke Shop  ...                         10 Adelaide St. W
23        StyleDemocracy Designer Pop-Up Shop  ...                             580 King St W
24                             5 Fifty 5 Shop  ...                        555 University Ave
25          Jays Shop at Toronto Eaton Centre  ...                          220 Yonge Street
26                                ZayZay Shop  ...                       141 Ranleigh Ave #B
27                        Specialty Food Shop  ...                        555 University Ave
28                            Future Shop ASW  ...                            123 Queen St W
29                     Terminal Barber Shop 2  ...                           150 Dundas St W

[25 rows x 6 columns]

In [24]:
# keep only those rows with the relevant categories-bridal shops, cosmetics and gift shops, clothing stores
array= ['Bridal Shop', 'Gift Shop','Cosmetics Shop','Clothing Store']
bridalshop_dataframe= clean_bridalshop_dataframe3.loc[clean_bridalshop_dataframe3['categories'].isin(array)]
bridalshop_dataframe

                                   name  ...                   address
1                 Bridal Fashion Fraire  ...          123 Spadina Ave.
2                             Gift Shop  ...       317 Dundas Street W
9                         The Body Shop  ...            393 Queen St W
11                        The Body Shop  ...  200 Bay Street, Unit 103
14                            Gift Shop  ...               Holiday Inn
23  StyleDemocracy Designer Pop-Up Shop  ...             580 King St W
24                       5 Fifty 5 Shop  ...        555 University Ave

[7 rows x 6 columns]

**Churches- Exchanging wedding vows...'Till Death Do Us Part!'**

In [25]:
# search for churches
search_query = 'Church'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ&client_secret=L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2&ll=43.653963,-79.387207&v=20180604&query=Church&radius=500&limit=30'

In [0]:
# Sending the GET Request and examining the results
results = requests.get(url).json()

In [27]:
# assigning relevant part of JSON to venues
venues = results['response']['venues']

# tranforming venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

                         id  ... location.postalCode
0  4e6cfd5318381712da1c9ddf  ...                 NaN
1  4b91b671f964a520f3d133e3  ...             M5T 1W3
2  4dd838e91f6ee146833794a1  ...                 NaN
3  4c815c12d34ca143e2b72180  ...                 NaN
4  55163055498e69a823177e08  ...                 NaN

[5 rows x 17 columns]

**Data wrangling- Cleaning Church dataframe**

In [28]:
# keep columns including venue name, and those associated with location only
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_church_dataframe = dataframe.loc[:,clean_columns]

# function to extract the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_church_dataframe['categories'] = clean_church_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_church_dataframe.columns = [column.split('.')[-1] for column in clean_church_dataframe.columns]

clean_church_dataframe.head()

                                               name  ...                        id
0  Our Lady of Mount Carmel Catholic Church 嘉模聖母天主堂  ...  4e6cfd5318381712da1c9ddf
1                              St. Patrick's Church  ...  4b91b671f964a520f3d133e3
2             St. George The Martyr Anglican Church  ...  4dd838e91f6ee146833794a1
3              Holy Trinity Russian Orthodox Church  ...  4c815c12d34ca143e2b72180
4                             church street toronto  ...  55163055498e69a823177e08

[5 rows x 15 columns]

In [29]:
# drop unnecessary columns
clean_church_dataframe2= clean_church_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',
                                        'labeledLatLngs','id','postalCode'], axis=1)
clean_church_dataframe2

                                               name  ... state
0  Our Lady of Mount Carmel Catholic Church 嘉模聖母天主堂  ...    ON
1                              St. Patrick's Church  ...    ON
2             St. George The Martyr Anglican Church  ...    ON
3              Holy Trinity Russian Orthodox Church  ...    ON
4                             church street toronto  ...   NaN
5                    The Church of the Holy Trinity  ...    ON
6                     St.  Nicholas Catholic church  ...   NaN
7                       Chinese Presbyterian Church  ...    ON
8              Holy Trinity Russian Orthodox Church  ...   NaN
9                                 Winston Churchill  ...   NaN

[10 rows x 6 columns]

In [30]:
# drop rows with none values
clean_church_dataframe3 = clean_church_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_church_dataframe3

                                               name categories  ...        lng  state
0  Our Lady of Mount Carmel Catholic Church 嘉模聖母天主堂     Church  ... -79.390672     ON
1                              St. Patrick's Church     Church  ... -79.391359     ON
2             St. George The Martyr Anglican Church     Church  ... -79.391267     ON
3              Holy Trinity Russian Orthodox Church     Church  ... -79.393972     ON
5                    The Church of the Holy Trinity     Church  ... -79.381705     ON
7                       Chinese Presbyterian Church     Church  ... -79.394259     ON

[6 rows x 6 columns]

*Here as you can see above, after dropping the rows with none values, we are left with our desired category only- Churches, so we were saved the additional operation of removing the irrelevant categories namely 'Sculpture Garden','Other Nightlife' and 'Historic Site'.*

**Bakery- Let's find that perfect wedding cake!**

In [31]:
# search for bakery
search_query = 'Bakery'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'\
.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ&client_secret=L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2&ll=43.653963,-79.387207&v=20180604&query=Bakery&radius=500&limit=30'

In [0]:
# Sending the GET Request and examining the results
results = requests.get(url).json()

In [33]:
# assigning relevant part of JSON to venues
venues = results['response']['venues']

# tranforming venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

                         id  ... location.postalCode
0  4b9f9b5af964a5206b2e37e3  ...                 NaN
1  53542f20498eb5c7149ecafd  ...             M5V 0B5
2  4eadd3dbe5fad025f84c97f4  ...             M5G 2C2
3  57462ae4498efddb24245014  ...                 NaN
4  4afc5b80f964a520e42122e3  ...             M5G 2K4

[5 rows x 17 columns]

**Cleaning the Bakery dataframe**

In [34]:
# keep columns including venue name, and those associated with location only
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_bakery_dataframe = dataframe.loc[:,clean_columns]

# function to extract the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_bakery_dataframe['categories'] = clean_bakery_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_bakery_dataframe.columns = [column.split('.')[-1] for column in clean_bakery_dataframe.columns]

clean_bakery_dataframe.head()

                          name categories  ... postalCode                        id
0                    Bakery 18     Bakery  ...        NaN  4b9f9b5af964a5206b2e37e3
1         Bakery & Kaffee Haus     Bakery  ...    M5V 0B5  53542f20498eb5c7149ecafd
2  Kin-Kin Bakery & Bubble Tea     Bakery  ...    M5G 2C2  4eadd3dbe5fad025f84c97f4
3  Paris Croissant Bakery Cafe     Bakery  ...        NaN  57462ae4498efddb24245014
4       Fresh Start Coffee Co.       Café  ...    M5G 2K4  4afc5b80f964a520e42122e3

[5 rows x 15 columns]

In [35]:
# drop unnecessary columns
clean_bakery_dataframe2= clean_bakery_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',
                                        'labeledLatLngs', 'id','postalCode'], axis=1)
clean_bakery_dataframe2

                          name categories  ...        lng  state
0                    Bakery 18     Bakery  ... -79.383548     ON
1         Bakery & Kaffee Haus     Bakery  ... -79.390378     ON
2  Kin-Kin Bakery & Bubble Tea     Bakery  ... -79.382403     ON
3  Paris Croissant Bakery Cafe     Bakery  ... -79.383210     ON
4       Fresh Start Coffee Co.       Café  ... -79.384393     ON

[5 rows x 6 columns]

In [36]:
# keep only those rows with the relevant category-Bakery
clean_bakery_dataframe3 = clean_bakery_dataframe2[clean_bakery_dataframe2.categories == 'Bakery']
clean_bakery_dataframe3

                          name categories  ...        lng  state
0                    Bakery 18     Bakery  ... -79.383548     ON
1         Bakery & Kaffee Haus     Bakery  ... -79.390378     ON
2  Kin-Kin Bakery & Bubble Tea     Bakery  ... -79.382403     ON
3  Paris Croissant Bakery Cafe     Bakery  ... -79.383210     ON

[4 rows x 6 columns]

**Restaurants-The most delicious part,your wedding buffet!**

In [37]:
# search for Restaurants
search_query = 'Restaurant'
radius = 500

# Define the corresponding URL
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(ClIENT_ID, ClIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
url

'https://api.foursquare.com/v2/venues/search?client_id=PUQQSNWDSUKXX20LQP1ISLWSRGGTKACD3IEQMGVQGFVCPXRJ&client_secret=L3BPVYMKFNEL4GE5PIXL255Z540TKZ1AXKKHH5KSURY3MXH2&ll=43.653963,-79.387207&v=20180604&query=Restaurant&radius=500&limit=30'

In [0]:
# Sending the GET Request and examining the results
results = requests.get(url).json()

In [39]:
# assigning relevant part of JSON to venues
venues = results['response']['venues']

# tranforming venues into a dataframe
dataframe = json_normalize(venues)
dataframe.head()

                         id  ... venuePage.id
0  4ad4c05ff964a52048f720e3  ...          NaN
1  5750b013498e755287c6de97  ...          NaN
2  4b2027b5f964a520f82d24e3  ...     60327598
3  4c69740b8d22c9284d42b745  ...          NaN
4  4ae4b055f964a520229d21e3  ...          NaN

[5 rows x 18 columns]

**Cleaning Restaurant dataframe**

In [40]:
# keep columns including venue name, and those associated with location only
clean_columns = ['name', 'categories'] + [col for col in dataframe.columns if col.startswith('location.')]+ ['id']
clean_restaurant_dataframe = dataframe.loc[:,clean_columns]

# function to extract the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

# filter the category for each row
clean_restaurant_dataframe['categories'] = clean_restaurant_dataframe.apply(get_category_type, axis=1)

# clean column names by keeping only last term
clean_restaurant_dataframe.columns = [column.split('.')[-1] for column in clean_restaurant_dataframe.columns]

clean_restaurant_dataframe.head()

                                 name  ...                        id
0     Hemispheres Restaurant & Bistro  ...  4ad4c05ff964a52048f720e3
1  Some Time BBQ Grill Restaurant 碳烤屋  ...  5750b013498e755287c6de97
2       Hong Shing Chinese Restaurant  ...  4b2027b5f964a520f82d24e3
3          Wah Too Seafood Restaurant  ...  4c69740b8d22c9284d42b745
4     Kyoto House Japanese Restaurant  ...  4ae4b055f964a520229d21e3

[5 rows x 15 columns]

In [41]:
# drop unnecessary columns
clean_restaurant_dataframe2= clean_restaurant_dataframe.drop(['cc', 'city', 'country', 'crossStreet', 'distance', 'formattedAddress',
                                        'labeledLatLngs', 'id'], axis=1)
clean_restaurant_dataframe2

                                             name  ... state
0                 Hemispheres Restaurant & Bistro  ...    ON
1              Some Time BBQ Grill Restaurant 碳烤屋  ...    ON
2                   Hong Shing Chinese Restaurant  ...    ON
3                      Wah Too Seafood Restaurant  ...    ON
4                 Kyoto House Japanese Restaurant  ...    ON
5                    Yueh Tung Chinese Restaurant  ...    ON
6                               Tundra Restaurant  ...    ON
7                                 Cali Restaurant  ...    ON
8                                Adega Restaurant  ...    ON
9                            Donatello Restaurant  ...    ON
10                       Fune Japanese Restaurant  ...    ON
11                              Anoush Restaurant  ...    ON
12                        The Elm Tree Restaurant  ...    ON
13                    Wah Sing Seafood Restaurant  ...    ON
14                     Alio Restaurant & Wine Bar  ...    ON
15                        New Treasure Restaurant  ...    ON
16                        Osgoode Hall Restaurant  ...   NaN
17  Spring Rolls | Japanese Restaurant in Toronto  ...    ON
18                        Little India Restaurant  ...    ON
19                    The Winding Road Restaurant  ...    ON
20                                     Ali Baba's  ...    ON
21                               Zhu's Restaurant  ...    ON
22                         Maezo Restaurant & Bar  ...    ON
23             Castries Bar & Five Way Restaurant  ...   NaN
24                               Maezo Restaurant  ...    ON
25                       spring garden Restaurant  ...   NaN
26                  Terrace Restaurant at Elmwood  ...   NaN
27                   Mt. Fuji Japanese Restaurant  ...    ON
28             East Restaurant Asian Street Flair  ...    ON
29                    Toronto Big Bowl Restaurant  ...    ON

[30 rows x 7 columns]

In [42]:
# drop rows with none values
clean_restaurant_dataframe3 = clean_restaurant_dataframe2.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
clean_restaurant_dataframe3

                                             name  ... state
0                 Hemispheres Restaurant & Bistro  ...    ON
2                   Hong Shing Chinese Restaurant  ...    ON
3                      Wah Too Seafood Restaurant  ...    ON
6                               Tundra Restaurant  ...    ON
7                                 Cali Restaurant  ...    ON
8                                Adega Restaurant  ...    ON
9                            Donatello Restaurant  ...    ON
11                              Anoush Restaurant  ...    ON
12                        The Elm Tree Restaurant  ...    ON
13                    Wah Sing Seafood Restaurant  ...    ON
14                     Alio Restaurant & Wine Bar  ...    ON
17  Spring Rolls | Japanese Restaurant in Toronto  ...    ON
18                        Little India Restaurant  ...    ON
19                    The Winding Road Restaurant  ...    ON
20                                     Ali Baba's  ...    ON
22                         Maezo Restaurant & Bar  ...    ON
24                               Maezo Restaurant  ...    ON
28             East Restaurant Asian Street Flair  ...    ON
29                    Toronto Big Bowl Restaurant  ...    ON

[19 rows x 7 columns]

**Generating map to visualize churches, bakery shops and restaurants and clustering these together**

In [43]:
# create dataframe of churches, bakery shops and restaurants
church_neighbourhood_df = pd.concat([clean_church_dataframe3,clean_bakery_dataframe3,clean_restaurant_dataframe3], ignore_index=True,sort=True)
church_neighbourhood_df

                     address                  categories  ...  postalCode  state
0        202 St. Patrick St.                      Church  ...         NaN     ON
1             141 McCaul St.                      Church  ...         NaN     ON
2                205 John St                      Church  ...         NaN     ON
3               23 Henry St.                      Church  ...         NaN     ON
4              10 Trinity Sq                      Church  ...         NaN     ON
5            177 Beverley St                      Church  ...         NaN     ON
6                595 Bay St.                      Bakery  ...         NaN     ON
7      238 Queen Street West                      Bakery  ...         NaN     ON
8                595 Bay St.                      Bakery  ...         NaN     ON
9                 595 Bay St                      Bakery  ...         NaN     ON
10       110 Chestnut Street         American Restaurant  ...     M5G 1R3     ON
11           195 Dundas St W          Chinese Restaurant  ...     M5G 1C7     ON
12            56 Centre Ave.          Chinese Restaurant  ...     M5G 1R5     ON
13  145 Richmond Street West                  Restaurant  ...     M5H 2L2     ON
14         179 Dundas St. W.       Vietnamese Restaurant  ...         M5G     ON
15                 33 Elm St                  Restaurant  ...     M5G 1H1     ON
16                37 Elm St.          Italian Restaurant  ...     M5G 1H1     ON
17           250 Dundas St W                  Restaurant  ...     M5T 2Z5     ON
18                 43 Elm St  Modern European Restaurant  ...     M5G 1H1     ON
19         47 Baldwin Street          Chinese Restaurant  ...     M5T 1L1     ON
20           108 Dundas St W          Italian Restaurant  ...     M5G 1C3     ON
21    40 Dundas St W Box 36,            Theme Restaurant  ...     M5G 2C2     ON
22           255 Queen St. W           Indian Restaurant  ...     M5V 1Z4     ON
23              5 Baldwin St          Chinese Restaurant  ...     M5T 1L1     ON
24          199 Dundas St. W   Middle Eastern Restaurant  ...     M5g 1c8     ON
25   67 Richmond Street West           Indian Restaurant  ...     M5H 1Z5     ON
26       67 Richmond St West           Indian Restaurant  ...     M5H 1W2     ON
27     240 Queen Street West            Asian Restaurant  ...      M5v1z7     ON
28             45 Baldwin St         Szechuan Restaurant  ...     M5T 1L1     ON

[29 rows x 7 columns]

In [44]:
# Generate map to visualize church neighborhood including bakery shops and restaurants
church_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(church_neighbourhood_df['lat'], church_neighbourhood_df['lng'], 
                                           church_neighbourhood_df['name'], church_neighbourhood_df['categories'],\
                                               church_neighbourhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(church_map)  
    
church_map

**Generating map to visualize hotels or event spaces, bakery shops and restaurants and clustering these together**

In [45]:
# create dataframe of hotels, bakery shops and restaurants
hotel_neighborhood_df = pd.concat([hotel_dataframe, clean_bakery_dataframe3,clean_restaurant_dataframe3], ignore_index=True)
hotel_neighborhood_df

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

                     address                  categories  ...  postalCode  state
0      123 Queen Street West                       Hotel  ...     M5H 2M9     ON
1             123 Test Drive                       Hotel  ...     M2M 2M2     ON
2        108 Chestnut Street                       Hotel  ...     M5G 1R3     ON
3        188 University Ave.                       Hotel  ...     M5H 0A3     ON
4          145 Richmond St W                       Hotel  ...     M5H 2L2     ON
5             525 Bay Street                       Hotel  ...     M5G 2L2     ON
6            123 Queen St. W                 Event Space  ...     M5H 2M9     ON
7                595 Bay St.                      Bakery  ...         NaN     ON
8      238 Queen Street West                      Bakery  ...         NaN     ON
9                595 Bay St.                      Bakery  ...         NaN     ON
10                595 Bay St                      Bakery  ...         NaN     ON
11       110 Chestnut Street         American Restaurant  ...     M5G 1R3     ON
12           195 Dundas St W          Chinese Restaurant  ...     M5G 1C7     ON
13            56 Centre Ave.          Chinese Restaurant  ...     M5G 1R5     ON
14  145 Richmond Street West                  Restaurant  ...     M5H 2L2     ON
15         179 Dundas St. W.       Vietnamese Restaurant  ...         M5G     ON
16                 33 Elm St                  Restaurant  ...     M5G 1H1     ON
17                37 Elm St.          Italian Restaurant  ...     M5G 1H1     ON
18           250 Dundas St W                  Restaurant  ...     M5T 2Z5     ON
19                 43 Elm St  Modern European Restaurant  ...     M5G 1H1     ON
20         47 Baldwin Street          Chinese Restaurant  ...     M5T 1L1     ON
21           108 Dundas St W          Italian Restaurant  ...     M5G 1C3     ON
22    40 Dundas St W Box 36,            Theme Restaurant  ...     M5G 2C2     ON
23           255 Queen St. W           Indian Restaurant  ...     M5V 1Z4     ON
24              5 Baldwin St          Chinese Restaurant  ...     M5T 1L1     ON
25          199 Dundas St. W   Middle Eastern Restaurant  ...     M5g 1c8     ON
26   67 Richmond Street West           Indian Restaurant  ...     M5H 1Z5     ON
27       67 Richmond St West           Indian Restaurant  ...     M5H 1W2     ON
28     240 Queen Street West            Asian Restaurant  ...      M5v1z7     ON
29             45 Baldwin St         Szechuan Restaurant  ...     M5T 1L1     ON

[30 rows x 7 columns]

In [47]:
# Generate map to visualize hotel neighbourhood including bakery shops and restaurants
hotel_map = folium.Map(location=[latitude, longitude], zoom_start=14)

for lat, lng, name, categories, address in zip(hotel_neighborhood_df['lat'], hotel_neighborhood_df['lng'], 
                                           hotel_neighborhood_df['name'], hotel_neighborhood_df['categories'],\
                                               hotel_neighborhood_df['address']):
    label = '{}, {}'.format(name, address)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='blue',
        fill_opacity=0.7,
        parse_html=False).add_to(hotel_map)  
    
hotel_map